@mixin fonts($fs, $ff, $fw, $fst, $lh) {
    font-size: $fs;
    font-family: $ff;
    font-weight: $fw;
    font-style: $fst;
    line-height: $lh;
}

.categories {
    height: 127px;
    background: #FFFFFF;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    overflow: auto;

    nav {
        max-height: 100%;
        margin:10px 0px 0px 0px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 40px;
        align-items: center;

        .category {
            display: flex;
            flex-direction: column;
            text-align: center;
            text-decoration: none;
            align-items: center;

            img {
                width: 70px;
                height: 70px;
            }

            span {
                padding-top: 5px;
                @include fonts(12px, 'Solway', 400, normal, 14px);
                color: black
            }
        }
    }
}