.container {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .sort {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding-top: 10px;
           
        .checkbox {
            padding-left: 5px;

            input {
                display: none;
            }

            .fake {
                width: 18px;
                display: inline-block;
            }
        }
    }

    .cards {
        .pagination {
            display: flex;
        justify-content: center;
        }
        .card {
            justify-content: center;
            div {

                a {
                    text-decoration: none;
                    color: black;
                    height: 100%;
                }
            }
        }
    }

}